<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="google-signin-client_id" content="194732893662-4o8fcd5nvhn803qcbcmndiubdk7dfogn.apps.googleusercontent.com">
	<title>Loggin whitFB</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script type="text/javascript" src="js/main.js" ></script>

	<script type="text/javascript" src="js/app.js" ></script>
</head>
<body ng-app="myApp" ng-controller="myController">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h1>Fb Loggin</h1>
				<img ng-src="{{fb_image}}" style=" width: 100px; height: 100px">
				<h4>{{facebook.username}}</h4>
				<h4>{{facebook.email}}</h4>
				<button type="button" class="btn btn-success" value="Login" ng-click="onFBlogin()">Loggin with fb</button>
				<div class="g-signin2" data-onsuccess="onSignIn"></div>
				<a href="#" ng-click="signOut()">Sign out</a>
			</div>
		</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
	<!-- Latest compiled and minified JavaScript
	<script type="text/javascript">
		(function(){
			var p=document.createElement('script');
			p.type='text/javascript';
			p.async=true;
			p.src='https://apis.google.com/js/client.js?onload=onLoadFunction';
			var s=document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(p,s);
		})();
	</script>
	 -->
</body>
</html>